Autor : Avinash [Python Data analysis on USEDCARS data]
1. 
Purpose : 
You use data wrangling to convert data from an initial format to a format that may be better for analysis.

What is the fuel consumption (L/100k) rate for the diesel car?


1st STEP: Importing DATASET (using .read_csv())

In [ ]:
# import pandas and matplotlib for this project
import pandas as pd
import matplotlib.pylab as plt

In [ ]:
filepath="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DA0101EN-SkillsNetwork/labs/Data%20files/auto.csv"

In [ ]:
# read CSV file from URL without header
df = pd.read_csv(filepath, header = None)

In [ ]:
headers = ["symboling","normalized-losses","make","fuel-type","aspiration", "num-of-doors","body-style",
         "drive-wheels","engine-location","wheel-base", "length","width","height","curb-weight","engine-type",
         "num-of-cylinders", "engine-size","fuel-system","bore","stroke","compression-ratio","horsepower",
         "peak-rpm","city-mpg","highway-mpg","price"]

In [ ]:
df.columns = headers

In [ ]:
df.head(10)

In [ ]:
df.tail(7)

In [ ]:
df.to_csv('usedCars')

In [ ]:
df.dtypes

In [ ]:
df.describe(include = "all")

In [ ]:
df.info()

# Identify and handle missing values


### Identify missing values
Convert "?" to NaN
In the car data set, missing data comes with the question mark "?".
We replace "?" with NaN (Not a Number), Python's default missing value marker for reasons of computational speed and convenience. Use the function: 
 .replace(A, B, inplace = True)
to replace A by B.

In [ ]:
import numpy as np

# replace "?" to NaN
df.replace("?", np.nan, inplace = True)
df.head(10)

Evaluating for Missing Data

The missing values are converted by default. Use the following functions to identify these missing values. You can use two methods to detect missing data:

    .isnull()
    .notnull()

The output is a boolean value indicating whether the value that is passed into the argument is in fact missing data.

In [ ]:
missing_data = df.isnull()

missing_data.head(5)

In [ ]:
for column in missing_data.columns.values.tolist():
    print(column)
    print(missing_data[column].value_counts())
    print("")

# missing column and count:                 solution to choose:          
normalized-losses       41                  Replace with Mean
num-of-doors            2                   Replace by frequency Mode as "Four" doors for sedan model
bore                    4                   mean
stroke                  4                   mean
horsepower              2                   mean
peak-rpm                2                   mean
price                   4                   Drop these 4 rows as can't predict price which is main component

In [ ]:
avg_norm_loss = df["normalized-losses"].astype("float").mean(axis = 0)
print("Average of nurmalized-losses :", avg_norm_loss)

In [ ]:
df["normalized-losses"].replace (np.nan, avg_norm_loss, inplace =True)

In [ ]:
avg_bore = df["bore"].astype("float").mean(axis=0)
print("Average of bore: ", avg_bore)

In [ ]:
df["bore"].replace(np.nan,avg_bore, inplace=True)

In [ ]:
# replace Nan is stroke column

avg_stroke = df["stroke"].astype ("float").mean(axis=0)
print("Average of stroke :", avg_stroke )

In [ ]:
df["stroke"].replace(np.nan,avg_stroke, inplace = True)

In [ ]:
# replace nan of horsepower
avg_horsepower = df["horsepower"].astype("float").mean(axis=0)
print("Average of horsepower: ", avg_horsepower)

df["horsepower"].replace(np.nan,avg_horsepower, inplace=True)

In [ ]:
df.info()

In [ ]:
avg_peakrpm = df["peak-rpm"].astype("float").mean(axis=0)
print("Average of peak-rpm :", avg_peakrpm)

df["peak-rpm"].replace(np.nan, avg_peakrpm, inplace = True)

In [ ]:
df['num-of-doors'].value_counts().idxmax()

In [ ]:
# Replace nan to 4 doors as max car is of "four doors"

df["num-of-doors"].replace(np.nan, "four", inplace = True)

In [ ]:
# DROP price columns wherever it was Nan

df.dropna(subset = ["price"], axis=0, inplace=True)

# RESET INDEX bcus we dropped 2 lines

df.reset_index(drop = True, inplace = True)

In [42]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 201 entries, 0 to 200
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          201 non-null    int64
 1   normalized-losses  201 non-null    object
 2   make               201 non-null    object
 3   fuel-type          201 non-null    object
 4   aspiration         201 non-null    object
 5   num-of-doors       201 non-null    object
 6   body-style         201 non-null    object
 7   drive-wheels       201 non-null    object
 8   engine-location    201 non-null    object
 9   wheel-base         201 non-null    float64
 10  length             201 non-null    float64
 11  width              201 non-null    float64
 12  height             201 non-null    float64
 13  curb-weight        201 non-null    int64
 14  engine-type        201 non-null    object
 15  num-of-cylinders   201 non-null    object
 16  engine-size        201 non-null    int64
 17  fuel-system        201 non-null    object
 18  bore               201 non-null    object
 19  stroke             201 non-null    object
 20  compression-ratio  201 non-null    float64
 21  horsepower         201 non-null    object
 22  peak-rpm           201 non-null    object
 23  city-mpg           201 non-null    int64
 24  highway-mpg        201 non-null    int64
 25  price              201 non-null    object
dtypes: float64(5), int64(5), object(16)
memory usage: 41.0+ KB

### Correct data format
We are almost there!
The last step in data cleaning is checking and making sure that all data is in the correct format (int, float, text or other).

In Pandas, you use:
.dtype() to check the data type
.astype() to change the data type

Convert data types to proper format:
bore, stroke, price & peak-rpm          : float
normallized-losses                      : int

In [49]:
df[["bore","stroke"]] = df[["bore","stroke"]].astype("float")

df[["price"]] = df[["price"]].astype("float")

df[["peak-rpm"]] = df[["peak-rpm"]].astype("float")

df[["normalized-losses"]] = df[["normalized-losses"]].astype("int")

In [51]:
df.dtypes

symboling              int64
normalized-losses      int64
make                  object
fuel-type             object
aspiration            object
num-of-doors          object
body-style            object
drive-wheels          object
engine-location       object
wheel-base           float64
length               float64
width                float64
height               float64
curb-weight            int64
engine-type           object
num-of-cylinders      object
engine-size            int64
fuel-system           object
bore                 float64
stroke               float64
compression-ratio    float64
horsepower            object
peak-rpm             float64
city-mpg               int64
highway-mpg            int64
price                float64
dtype: object

# NOW the data is Cleaned with no missing values
# NEXT is to DATA STANDARDIZATION

## Data Standardization

You usually collect data from different agencies in different formats.
(Data standardization is also a term for a particular type of data normalization where you subtract the mean and divide by the standard deviation.)

    
What is standardization?
Standardization is the process of transforming data into a common format, allowing the researcher to make the meaningful comparison.


Example
Transform mpg to L/100km:
In your data set, the fuel consumption columns "city-mpg" and "highway-mpg" are represented by mpg (miles per gallon) unit. Assume you are developing an application in a country that accepts the fuel consumption with L/100km standard.
You will need to apply data transformation to transform mpg into L/100km.

Use this formula for unit conversion:
L/100km = 235 / mpg
You can do many mathematical operations directly using Pandas.

In [57]:
# convert city-mpg to L/100km

df['city-L/100km'] = 235/df['city-mpg']

In [58]:
df.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price,city-L/100km
0,3,122,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,mpfi,3.47,2.68,9.0,111,5000.0,21,27,13495.0,11.190476
1,3,122,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,mpfi,3.47,2.68,9.0,111,5000.0,21,27,16500.0,11.190476
2,1,122,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,mpfi,2.68,3.47,9.0,154,5000.0,19,26,16500.0,12.368421
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,mpfi,3.19,3.40,10.0,102,5500.0,24,30,13950.0,9.791667
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,mpfi,3.19,3.40,8.0,115,5500.0,18,22,17450.0,13.055556

<div class="alert alert-danger alertdanger" style="margin-top: 20px">
<h1> Question  #2: </h1>

<b>According to the example above, transform mpg to L/100km in the column of "highway-mpg" and change the name of column to "highway-L/100km".</b>
</div>

In [59]:
df["highway-L/100km"] = 235/df["highway-mpg"]
df.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price,city-L/100km,highway-L/100km
0,3,122,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,3.47,2.68,9.0,111,5000.0,21,27,13495.0,11.190476,8.703704
1,3,122,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,3.47,2.68,9.0,111,5000.0,21,27,16500.0,11.190476,8.703704
2,1,122,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,2.68,3.47,9.0,154,5000.0,19,26,16500.0,12.368421,9.038462
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,3.19,3.40,10.0,102,5500.0,24,30,13950.0,9.791667,7.833333
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,3.19,3.40,8.0,115,5500.0,18,22,17450.0,13.055556,10.681818

## Data Normalization

<b>Why normalization?</b>
<p>Normalization is the process of transforming values of several variables into a similar range. Typical normalizations include 
<ol>
    <li>scaling the variable so the variable average is 0</li>
    <li>scaling the variable so the variance is 1</li> 
    <li>scaling the variable so the variable values range from 0 to 1</li>
</ol>
</p>

<b>Example</b>
<p>To demonstrate normalization, say you want to scale the columns "length", "width" and "height".</p>
<p><b>Target:</b> normalize those variables so their value ranges from 0 to 1</p>
<p><b>Approach:</b> replace the original value by (original value)/(maximum value)</p>